<launch>
    <arg name="folder" />
    <arg name="name" default=".auto" /> <!-- [value] / .auto -->
    <arg name="teleop_keyboard" default="true" />
    <arg name="cmd_vel_topic" default="/car/cmd_vel" />

	<param name="/tr/persistent/recording_folder" value="$(arg folder)" />
	<param name="/tr/persistent/recording_name" value="$(arg name)" />
    <param name="/tr/controller/cmd_vel_topic" value="$(arg cmd_vel_topic)" />
	<rosparam file="$(find tr_drive)/config/car_wbt_teach.yaml" command="load" />

	<node pkg="tr_drive" type="teacher_node.py" name="teacher" output="screen" />

	<node name="teleop_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" if="$(arg teleop_keyboard)">
        <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />
    </node>
</launch>
